
<!--Display thought text as the first thing on the webpage-->
<p>
  <b>Thought:</b>
  <%= @thought.thought %>
</p>

<!--Display 'a thought by #{thinker}-->
<h3>
  A thought by
  <%= @thought.thinker.name %>
</h3>

<!--Display thinkers who 'thumb'-ed this thought -->
<h2>
  "Thumbers of this thought"
  <%= @thought.thinker.name %>

</h2>

<%= link_to 'Back', thoughts_path %>

